.custom-bar {
  background-color: #0c1f2e;
  width: 100%;
  float: left;
  position: relative;
  height: 36px;
  font-family: "Open Sans";
}

.links {
  .logo {
    float: left;
    position: relative;
    width: 93px;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    height: 36px;
    background-position: left 0px;
  }
  float: left;
  position: relative;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  width: 100%;
  &.active {
    height: 400px;
  }
}

.links-item {
  display: inline-block;
  padding: 8px 19px 0px 19px;
  height: 28px;
  &:hover {
    a {
      color: #fff;
    }
    .children {
      display: block;
    }
  }
  .children {
    float: left;
    position: absolute;
    background-color: #142c3f;
    display: none;
    padding: 18px;
    margin-top: 10px;
    ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
      li {
        list-style: none;
        padding: 10px 0px;
        margin: 0px;
        line-height: 10px;
        &:first-child {
          padding-top: 0px;
        }
        &:last-child {
          padding-bottom: 0px;
        }
        a {
          color: #7b8998;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}

.links-item a {
  color: #a7b1be;
  font-size: 13px;
  text-decoration: none;
}
