@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/**
Определяет flex-контейнер (инлайновый или блочный в зависимости от выбранного значения), подключает flex-контекст для всех его непосредственных потомков
*/
/*
Устанавливает главную ось main-axis, определяя тем самым направление для flex-элементов, размещаемых в контейнере.
*/
/**
Определяет, будет ли контейнер однострочным или многострочным, а также направление поперечной оси,
определяющей направление, в котором будут располагаться новые строки.
*/
/**
Определяет выравнивание относительно главной оси. Помогает распределить оставшееся свободное место в случае,
когда элементы строки не «тянутся», либо тянутся, но уже достигли своего максимального размера.
Также позволяет в некотором роде управлять выравниванием элементов при выходе за границы строки.
*/
/**
Определяет поведение по умолчанию для того, как flex-элементы располагаются относительно поперечной оси на текущей строке.
Считайте это версией justify-content для поперечной оси (перпендикулярной к основной).
*/
/**
Выравнивает строки flex-контейнера при наличии свободного места на поперечной оси аналогично тому, как это делает justify-content на главной оси.
*/
/**
Определяет для flex-элемента возможность «вырастать» при необходимости. Принимает безразмерное значение, служащее в качестве пропорции.
Оно определяет, какую долю свободного места внутри контейнера элемент может занять.
*/
/**
Определяет для flex-элемента возможность сжиматься при необходимости.
*/
/**
Определяет размер по умолчанию для элемента перед распределением пространства в контейнере
*/
/* line 1, ../sass/base.scss */
.custom-bar {
  font-family: "Open Sans";
  width: 100%;
  overflow-x: hidden;
}
/* line 5, ../sass/base.scss */
.custom-bar .links {
  background-color: #0c1f2e;
  display: inline-block;
  width: 100%;
  height: 36px;
}
/* line 10, ../sass/base.scss */
.custom-bar .links ul {
  display: block;
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
/* line 17, ../sass/base.scss */
.custom-bar .links ul li {
  float: left;
  list-style: none;
  margin: 0px;
}
/* line 21, ../sass/base.scss */
.custom-bar .links ul li.links-item {
  padding: 0px 19px 0px 15px;
  height: 36px;
  vertical-align: middle;
}
/* line 29, ../sass/base.scss */
.custom-bar .links ul li.links-item:hover a, .custom-bar .links ul li.links-item:hover span {
  color: #fff;
}
/* line 32, ../sass/base.scss */
.custom-bar .links ul li.links-item:hover .children {
  display: block;
}
/* line 36, ../sass/base.scss */
.custom-bar .links ul li.links-item a, .custom-bar .links ul li.links-item span {
  display: inline-block;
  vertical-align: middle;
  padding-top: 8px;
}
/* line 43, ../sass/base.scss */
.custom-bar .links ul li.last {
  padding: 0px 5px;
  margin: 0px;
  width: 25px;
}
/* line 48, ../sass/base.scss */
.custom-bar .links ul li.logo {
  width: 69px;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  height: 36px;
  background-position: left 0px;
}

/* line 60, ../sass/base.scss */
.children-bar {
  font-family: "Open Sans";
  float: left;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 99999;
}
/* line 67, ../sass/base.scss */
.children-bar .children-menu {
  float: left;
  position: absolute;
  width: auto;
  background-color: #142c3f;
  display: none;
  padding: 10px 15px 13px 15px;
  margin-top: 36px;
}
/* line 75, ../sass/base.scss */
.children-bar .children-menu.active {
  display: block;
}
/* line 78, ../sass/base.scss */
.children-bar .children-menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
/* line 82, ../sass/base.scss */
.children-bar .children-menu ul li {
  list-style: none;
  padding: 8px 0px;
  margin: 0px;
  line-height: 12px;
}
/* line 87, ../sass/base.scss */
.children-bar .children-menu ul li:first-child {
  padding-top: 0px;
}
/* line 90, ../sass/base.scss */
.children-bar .children-menu ul li:last-child {
  padding-bottom: 0px;
}
/* line 93, ../sass/base.scss */
.children-bar .children-menu ul li a {
  font-size: 13px;
  color: #7b8998;
  text-decoration: none;
}
/* line 97, ../sass/base.scss */
.children-bar .children-menu ul li a:hover {
  color: #fff;
}

/* line 107, ../sass/base.scss */
.links-item a, .links-item span {
  color: #a7b1be;
  font-size: 13px;
  text-decoration: none;
}
/* line 112, ../sass/base.scss */
.links-item span {
  display: inline-block;
  vertical-align: middle;
}
